In [79]:
import numpy as np
import pandas as pd

# for visualization
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

import warnings
warnings.filterwarnings("ignore")

In [2]:
pip install sklearn

Requirement already satisfied: sklearn in c:\users\sadhana\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\sadhana\anaconda3\lib\site-packages (from sklearn) (1.1.2)
Requirement already satisfied: scipy>=1.3.2 in c:\users\sadhana\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.9.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\sadhana\anaconda3\lib\site-packages (from scikit-learn->sklearn) (2.2.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\sadhana\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.21.5)
Requirement already satisfied: joblib>=1.0.0 in c:\users\sadhana\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

### 1. Problem Statement

In [ ]:
To predict the charges for medical insurance

### 2. Data Gathering

In [2]:
df=pd.read_csv("medical_insurance.csv")
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

### 3. Exploratory Data Analysis

In [3]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [5]:
df['sex']

0       female
1         male
2         male
3         male
4         male
         ...
1333      male
1334    female
1335    female
1336    female
1337    female
Name: sex, Length: 1338, dtype: object

In [14]:
# label encoding
df['sex']=df['sex'].replace({"female":0,"male":1})

In [9]:
sex_value={"female":0,"male":1}
sex_value

{'female': 0, 'male': 1}

In [10]:
df['smoker']

0       yes
1        no
2        no
3        no
4        no
       ...
1333     no
1334     no
1335     no
1336     no
1337    yes
Name: smoker, Length: 1338, dtype: object

In [15]:
# label encoding
df['smoker']=df['smoker'].replace({"yes":0,"no":1})

In [17]:
smoker_value={"yes":0,"no":1}
smoker_value

{'yes': 0, 'no': 1}

In [19]:
# onehot encoding
df['region']

0       southwest
1       southeast
2       southeast
3       northwest
4       northwest
          ...
1333    northwest
1334    northeast
1335    southeast
1336    southwest
1337    northwest
Name: region, Length: 1338, dtype: object

In [20]:
df=pd.get_dummies(df,columns=['region'])
df

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,0,16884.92400,0,0,0,1
1,18,1,33.770,1,1,1725.55230,0,0,1,0
2,28,1,33.000,3,1,4449.46200,0,0,1,0
3,33,1,22.705,0,1,21984.47061,0,1,0,0
4,32,1,28.880,0,1,3866.85520,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
1333,50,1,30.970,3,1,10600.54830,0,1,0,0
1334,18,0,31.920,0,1,2205.98080,1,0,0,0
1335,18,0,36.850,0,1,1629.83350,0,0,1,0
1336,21,0,25.800,0,1,2007.94500,0,0,0,1
1337,61,0,29.070,0,0,29141.36030,0,1,0,0

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               1338 non-null   int64
 1   sex               1338 non-null   int64
 2   bmi               1338 non-null   float64
 3   children          1338 non-null   int64
 4   smoker            1338 non-null   int64
 5   charges           1338 non-null   float64
 6   region_northeast  1338 non-null   uint8
 7   region_northwest  1338 non-null   uint8
 8   region_southeast  1338 non-null   uint8
 9   region_southwest  1338 non-null   uint8
dtypes: float64(2), int64(4), uint8(4)
memory usage: 68.1 KB

### 4.  Feature Engineering

### 5. Feature Selection

### 6. model Training

In [22]:
# train test split
df=df.select_dtypes(exclude=object)
df

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,0,16884.92400,0,0,0,1
1,18,1,33.770,1,1,1725.55230,0,0,1,0
2,28,1,33.000,3,1,4449.46200,0,0,1,0
3,33,1,22.705,0,1,21984.47061,0,1,0,0
4,32,1,28.880,0,1,3866.85520,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
1333,50,1,30.970,3,1,10600.54830,0,1,0,0
1334,18,0,31.920,0,1,2205.98080,1,0,0,0
1335,18,0,36.850,0,1,1629.83350,0,0,1,0
1336,21,0,25.800,0,1,2007.94500,0,0,0,1
1337,61,0,29.070,0,0,29141.36030,0,1,0,0

In [23]:
x=df.drop("charges",axis=1)
x

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,0,0,0,0,1
1,18,1,33.770,1,1,0,0,1,0
2,28,1,33.000,3,1,0,0,1,0
3,33,1,22.705,0,1,0,1,0,0
4,32,1,28.880,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...
1333,50,1,30.970,3,1,0,1,0,0
1334,18,0,31.920,0,1,1,0,0,0
1335,18,0,36.850,0,1,0,0,1,0
1336,21,0,25.800,0,1,0,0,0,1
1337,61,0,29.070,0,0,0,1,0,0

In [24]:
y=df['charges']
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [25]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=25)
x_train

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
629,44,0,38.950,0,0,0,1,0,0
556,46,1,33.440,1,1,1,0,0,0
427,18,0,29.165,0,1,1,0,0,0
1047,22,1,52.580,1,0,0,0,1,0
98,56,1,19.950,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...
886,57,1,28.975,0,0,1,0,0,0
143,29,1,29.735,2,1,0,1,0,0
474,54,1,25.100,3,0,0,0,0,1
318,44,0,27.645,0,1,0,1,0,0
1156,19,1,44.880,0,0,0,0,1,0

In [26]:
# model training
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

### 7. Model / Matrix Evolution

In [32]:
# Testing Dataset
y_pred=model.predict(x_test)

mse=mean_squared_error(y_test,y_pred)
print("MSE:-",mse)

rmse=np.sqrt(mse)
print("RMSE:-",rmse)

mae=mean_absolute_error(y_test,y_pred)
print("MAE:-",mae)

r2_score=r2_score(y_test,y_pred)
print("R2 score value:-",r2_score)

MSE:- 34633295.9297812
RMSE:- 5885.006026316472
MAE:- 4283.1900843763515
R2 score value:- 0.7547037664450408

In [34]:
# Training Dataset
y_pre=model.predict(x_train)

mse=mean_squared_error(y_train,y_pre)
print("MSE:-",mse)

rmse=np.sqrt(mse)
print("RMSE:-",rmse)

mae=mean_absolute_error(y_train,y_pre)
print("MAE:-",mae)

r2 = r2_score(y_train, y_pre)
print("R Squared :",r2)

MSE:- 37103631.535598874
RMSE:- 6091.27503365255
MAE:- 4193.74557550588

TypeError: 'numpy.float64' object is not callable

In [46]:
y_train.info()

<class 'pandas.core.series.Series'>
Int64Index: 1070 entries, 629 to 1156
Series name: charges
Non-Null Count  Dtype
--------------  -----
1070 non-null   float64
dtypes: float64(1)
memory usage: 16.7 KB

#### Testing on Single Row

In [35]:
col_names=x.columns
col_names

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region_northeast',
       'region_northwest', 'region_southeast', 'region_southwest'],
      dtype='object')

In [38]:
x.head(1).T

                     0
age               19.0
sex                0.0
bmi               27.9
children           0.0
smoker             0.0
region_northeast   0.0
region_northwest   0.0
region_southeast   0.0
region_southwest   1.0

In [62]:
age = 67
sex = "male"
bmi = 27.9
children = 3
smoker = "yes"
region = "southeast"

# charges = ?

In [41]:
print(sex_value)
print(smoker_value)
print(col_names)

{'female': 0, 'male': 1}
{'yes': 0, 'no': 1}
Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region_northeast',
       'region_northwest', 'region_southeast', 'region_southwest'],
      dtype='object')

In [48]:
project_data={"sex":sex_value,"smoker":smoker_value,"columns":list(col_names)}
project_data

{'sex': {'female': 0, 'male': 1},
 'smoker': {'yes': 0, 'no': 1},
 'columns': ['age',
  'sex',
  'bmi',
  'children',
  'smoker',
  'region_northeast',
  'region_northwest',
  'region_southeast',
  'region_southwest']}

In [66]:
project_data['smoker'][smoker]

0

In [65]:
project_data['sex'][sex]

1

In [63]:
region1="region_"+ region
region1

'region_southeast'

In [69]:
region_index=np.where(col_names==region1)[0][0]
region_index

7

In [77]:
array=np.zeros(x.shape[1])
array[0]=age
array[1]=project_data['sex'][sex]
array[2]=bmi
array[3]=children
array[4]=project_data['smoker'][smoker]
array[region_index]=1

print(array)

[67.   1.  27.9  3.   0.   0.   0.   1.   0. ]

In [80]:
model.predict([array])[0]

38987.32523690547

In [85]:
import pickle

with open("Linear_model1.pkl","wb") as f:
    pickle.dump(model,f)

In [86]:
import json

with open("project_data1.json","w") as f:
    json.dump(project_data,f)